data/raw/
data/processed/

models/
*.model

pycache/
*.pyc
venv/
.venv/
env/

.idea/
.vscode/
.DS_Store

.ipynb_checkpoints/
catboost_info/
finam-x-hse-trade-ai-hack-forecast-main/
artifacts/
checkpoints/
*.csv
*.png
*.parquet